
/* --------- global setting ---------- */

/*
 google fonts: 
 1) Indie Flower 
 2) Maven Pro 
 3) Montserrat Alternates
 4) Ubuntu 
 5) Zen Maru Gothic 
 6) Poiret One
 */ 

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat+Alternates:ital,wght@0,100;0,400;1,100;1,400&family=Ubuntu:wght@300;400&family=Zen+Maru+Gothic:wght@300;400&display=swap');




/* my font */
@font-face {
  font-family: "slkscr";
  src: url('../assets/fonts/slkscr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


:root {
    --color-bg:#1f2126;
    --color-grey: #71717a;
    --color-black: #121212;
    --color-dark: #000000;
    --color-white: #D8DEE9;
    --color-lightGreen: #A1EFD3;
    --color-green: #62D196;
    --color-blue: #7aa2f7;
    --color-hyperlink: #0000EE;
    --color-red: #ab1c0f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}


/* text-selected color */
::selection {
    background: var(--color-grey);
    color: var(--color-black);
}

::-moz-selection { /* Code for Firefox */
    background: var(--color-grey);
    color: var(--color-black);
}


body {
    font-family: 'Montserrat Alternates';
    padding: 4rem 14rem 4rem;
    background: var(--color-bg);
    /* 
    for the slide menu in the mobile device: 
    if for some reason that the menu block slide out of the screen area/size 
    that's called an overflow, and we can hidden that by setting overflow-x property
    x means on the x-axis the horitonzal level
    */
    overflow-x: hidden;
}


hr.divider {
    border: 0.5px;
    border-top: 1px solid var(--color-black);          /* this one is the color setting of hr */
    margin: 6rem 0 0;
}

/* --------- grid display setting --------- */
.top {
    grid-area: top;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: sticky;
    top: 0;
}

/* --- I am not quiet understand why lhs and header position sticky need to be done separately --- */
.lhs {
    grid-area: lhs;
}

.mid {
    grid-area: mid;
}

.rhs {
    grid-area: rhs;
}

.bottom {
    grid-area: bottom;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/*
blur:
---------------------------------------------------------
offset-x | offset-y | color
offset-x | offset-y | blur-radius | color
offset-x | offset-y | blur-radius | spread-radius | color
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
*/

.grid-box {
    background: var(--color-bg);
    border: solid;
    border-radius: 2rem;
    /* padding: 1rem; */
    box-shadow: 15px 15px 15px var(--color-black);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
        "top top top"
        "lhs mid rhs"
        "bottom bottom bottom"
}

.rhs {
}


/* ----------- other setup -----------  */
a {
    text-decoration: none;
}


ul {
    list-style: none;
}

li {
    line-height: 2;
}

h3 {
    line-height: 1.2;
}


/*
padding/margin: 
two value:   top + down | left + right 
three value: top | left + right | down
four value:  top | right | down | left
*/


/* --- monitor larger then 24 inches --- */
@media (max-width: 1700px) {
    body {
        padding: 3rem 9rem 3rem;
    }

    .grid-box {
        grid-template-columns: 12% 76% 12%;
    }

}

/* --- ipad pro --- */
@media (max-width: 1100px) {
    body {
        padding: 2.5rem 7rem 2.5rem;
    }
}

/* --- iphone --- */
/* --- iphone 13 pro max seems to have 622 width --- */
@media (max-width: 690px) {
    body {
        padding: 2rem 1rem 2rem;
    }
}


