
---
/* 
Array Items (cards)
1) cards are individual item as a whole, which can be reused as long as same group of style is needed
   create default style and display value 
2) by passing different boolean values to the <Array /> based on the file that import <Array /> 
   we can override the basic array style according to different needs

*/
export interface Props {
   title: string;
   body: string;
   blogArrayStyle?: boolean;
   postArrayStyle?: boolean;
}

/* 
here we just create the default style for cards themselves
that is saying we only defined the values inside the array here, only the boxs that hold items(text, img)
however they will behave inside a div are depends on the style setting inside the file.astro that import them
*/
const { blogArrayStyle = false, 
        postArrayStyle = false } = Astro.props as Props;
---

<!-- 
---------------------------------------------------------------------------------------------------------------
Conditioning Statement: ` ${arrayColor && 'arrayColor'}`
if <Array /> is import, we must have color value together as well, and the class name for color is array-color
we also need to put a <slot /> here because we need to add items inside the <Array />
but the color can only have one option if written in this way, and can only be modified in this file
---------------------------------------------------------------------------------------------------------------
-->
<div class={`basicArrayStyle 
             ${blogArrayStyle && 'blogArrayStyle'} 
             ${postArrayStyle && 'postArrayStyle'}`}>
    <slot />
</div>


<!-- ------ style ------- -->
<style>

.basicArrayStyle {
   background: var(--color-white);
   color: var(--color-black);
}

.blogArrayStyle {
   background: var(--color-bg);
   color: var(--color-white);
   border-top: 2px solid var(--color-black);
   /* border-radius: 2rem; */
   padding: 4rem 0 4rem;
}

.postArrayStyle {
    border-radius: 2rem;
    padding: 2rem;
}

/* --- ipad pro --- */
@media (max-width: 1024px) {
    .blogArrayStyle {
        padding: 3rem 0 3rem;
    }
}


</style>
