
---
/* 
dynamically display experience with a tab, users can click on the headings and will be shown with different content based on different heading
elements: 
1) headings (an array of string)
2) contents (an array of string)
make elements in this tab a Props, which can be accessed and modified by anything other files that import this Experience.astro

However, the issue is that I wanna embed hyperlink into some text, so the variables can't be an array of string 
I don't know if there is a way to passing an array of html object and so before finding a way of doing that, I keep the tranditional way
*/

// ----------------------------- keep --------------------------------
export interface Props {
    activeHeaderColor?: string;
    inactiveHeaderColor?: string;
    headings: string[];
    contents: string[];
}
// ----------------------------- keep --------------------------------

// only the activeHeaderColor and inactiveHeaderColor variable are usable right now
const { headings, contents, activeHeaderColor = "#ab1c0f", inactiveHeaderColor = "#DBDEE9" } = Astro.props as Props
---

<div class="experience-box">
    <div class="experience-text">
        <h2>- Collections -</h2>
    </div>
    <div class="tabs">
        <div class="tabs-header">
            <h3>Research</h3>
            <h3>Projects</h3>
            <h3>Blogs</h3>
        </div>
        <div class="tabs-cover">
            <div class="tabs-content">
                <p class="tab">I am working on&nbsp;<a href="/">them</a></p>
                <p class="tab">a neovim colorscheme:<a href="/">&nbsp; kabutack.nvim</a></p>
                <p class="tab">Updating...</p>
            </div>
        </div>
    </div>
</div>

<!-- ---- style ---- -->
<style>

.experience-box {
    margin: 10rem 0 5rem;
}

.experience-text h2 {
    color: var(--color-white);
    font-weight: 100;
    font-size: 1.4rem;
}

.tabs-header {
    display: flex;
    color: var(--color-white);
    padding: 10px 0 10px;
}

/* 
in css setting cursor property to pointer means whichever tag have this class is clickable 
*/

.tabs-header h3 {
    margin-right: 20px;
    cursor: pointer;
    padding: 0.7rem;
    border: solid 1px;
    font-weight: 100;
    /* background: var(--color-white); */
    /* color: var(--color-black); */
}

.tabs-cover {
    /* padding: 4px; */
    border: solid var(--color-bg);
    box-shadow: 13px 13px 13px var(--color-black);
}

.tabs-content {
    border: 1px solid var(--color-black);
    background: var(--color-white);
    color: var(--color-black);
}

.tab {
    margin: 1rem;
}

/* hyperlink color */
.tabs-content a {
    color: var(--color-hyperlink);
}


/* --- for large monitor like 27 inches --- */
@media (max-width: 1700px) {
    .tabs-header h3 {
        font-size: 0.9rem;
    }

    .tabs-content p {
        font-size: 1rem;
    }

}


/* --- ipad air --- */
@media (max-width: 1024px) {
}


/* --- iphone --- */
@media (max-width: 640px) {
    .tabs-header h3 {
        font-size: 0.8rem;
    }

}


</style>



<!-- -------------------------- script --------------------------- -->

<script define:vars={{activeHeaderColor, inactiveHeaderColor}}>
/* 
setTab(index): 
1) if statement for setting all tabs to normal when current_tab_index = -1, which is initialize to -1 at the beginning
2) then only the given index is set to bold/colored header tab


default_tab_index:
1) findIndex(x) is the function that return the index of class(tag) object that has the index meets the critial given by x parameter
2) indexOf():   is the function that return whatever string is given in the parameter, here I don't really what 'default-tab' means, 
                so just assume that is the first tab/class/tag in a array of tab 
3) by default, given x.classList from tab_headers, we are selecting the first children in the <tab-headers />. So Research is selected 
   and it's greater -1 assuming all programming language has index starts at 0, 1 maybe for some language but definitely not 0 if not specified
   in the first start, first tab is set to be bold 
4) click all sub tab/tags in tab_headers, whenever an click event is detected, passing this the clicked tag and its index to the setTab()


createTab()
1) ...document is like a search, searching all tags in the HTML, whenever a querySelector('.tabs') is found
2) header = element.querySelector('.tabs-content') 
   const tab_headers = [...header.children], select all tabs-header's children
*/

  function createTabs(element) {
    const header = element.querySelector('.tabs-header');
    const content = element.querySelector('.tabs-content');
    const tab_headers = [...header.children];
    const tab_contents = [...content.children];
    tab_contents.forEach((x) => (x.style.display = 'none'));
    let current_tab_index = -1;

    function setTab(index) {
      if (current_tab_index > -1) {
        tab_headers[current_tab_index].style.fontWeight = 400;
        tab_headers[current_tab_index].style.color = inactiveHeaderColor;
        tab_contents[current_tab_index].style.display = 'none';
      }
      tab_headers[index].style.fontWeight = 800;
      tab_headers[index].style.color = activeHeaderColor;
      tab_contents[index].style.display = 'flex';
      current_tab_index = index;
    }
    
    /* first start */
    let default_tab_index = tab_headers.findIndex((x) => {
      return [...x.classList].indexOf('default-tab') > -1;
    });

    default_tab_index = default_tab_index === -1 ? 0 : default_tab_index;
    setTab(default_tab_index);

    tab_headers.forEach((x, i) => (x.onclick = (event) => setTab(i)));
  }
  // Run
  [...document.querySelectorAll('.tabs')].forEach((x) => createTabs(x));

</script>
