
<div class="display-box">
    <h2>Display</h2>
    <p>show interesting stuff here in the future if I have some</p>
    <div class="display-content">
        
    </div>
</div>




<!-- ---- style ---- -->
<style>

.display-box {
    /* border: solid; */
    margin: 10rem 0 5rem;
}

.display-content {
    border: solid;
    height: 20rem;
}

</style>
