
<div class="display-box">
    <h2>Display</h2>
    <p>show interesting stuff here in the future if I have some</p>
    <div class="display-content">
        
    </div>
</div>




<!-- ---- style ---- -->
<style>

.display-box {
    /* border: solid; */
    margin: 10rem 0 0;
}

.display-box h2 {
    color: var(--color-white);
    font-weight: 100;
    font-size: 1.5rem;
}

.display-box p {
    color: var(--color-grey);
    font-size: 0.9rem;
}

.display-content {
    border: solid 2px;
    height: 20rem;
}

</style>
