
---
import Card from './Array.astro';

// by creating a const for three same styles card, we rather give it a array 
// in that case when we want to render/display something else, it is easier to change and less code
const featuresData = [
    {title: 'Zero JavaScript Runtime', body: 'Astro renders HTML on the server and strips away any remaining'},
    {title: 'Testing Baby', body: 'randomly put on some text here'},
    {title: 'Testing New Baby', body: 'randomly put on some remarks here'},
];
---

<section class="features">
    <div class="container">
       {featuresData.map(feature => (
          <Card arrayColor={true}>
              <h3>{feature.title}</h3>
              <p>{feature.body}</p>
          </Card>
       ))}
    </div>
</section>

<!-- ------ style ------- -->
<style>
    .features .container {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 20px;
       padding: 0 20px;
       margin: 30px auto;
    }

    @media (max-width: 500px) {
        .features .container {
            grid-template-columns: 1fr;
        }
}
</style>
