
---
// import GLowing Loader CSS object 
import GlowingLoader from './cssItems/GlowingLoader.astro'
---

<footer>
    <div class="footerL">
    </div>
    <div class="footerC">
        <div class="footer-info">
            <span>
                <h3>Resource</h3> 
                <p><a href="/">Computer Science</a></p>
                <p><a href="/">Psychology</a></p>
                <p><a href="/">Mathematics</a></p>
            </span>
            <span>
                <h3>Interests</h3> 
                <p><a href="/">Visual</a></p>
                <p><a href="/">Auditory</a></p>
                <p><a href="/">Idea</a></p>
            </span>
            <span>
                <h3>Contact</h3> 
                <p><a href="/">+1</a></p>
                <p><a href="/">New York, NY</a></p>
                <p><a href="/">spacelion121319@gmail.com</a></p>
            </span>
        </div>
        <div class="footer-random">
            <div>
                <GlowingLoader />
                <p><a href="/">back to the top</a></p>
            </div>
        </div>
    </div>
    <div class="footerR">
    </div>
</footer>


<!-- --- style --- -->
<style>


/* ---------- grid display for whole footer section ---------- */

.footerL {
    grid-area: footerL;
}

.footerC {
    grid-area: footerC;
    display: flex;
}

.footerR {
    grid-area: footerR;
}

footer {
    padding: 2.5rem 0 2.5rem;               /* give some space between top and bottom of the footer section */
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
    grid-template-areas:
        "footerL footerC footerR"
}


/* --------- footer info(information) section --------- */
.footer-info {
    display: flex;
}

/* setup on the second span has left and right margin, so that three info div can be separated  */
.footer-info span:nth-child(2) {
    margin: 0 5.5rem 0;
}

.footer-info h3 {
    color: var(--color-white);
    padding: 1rem 0 1rem;
    font-size: 1rem;
    font-style: italic;
}

.footer-info p {
    padding: 0.7rem 0 0.7rem;
    font-size: 0.8rem;
    font-weight: 100;
    font-style: italic;
}

.footer-info a:hover {
    color: var(--color-green);
}
.footer-info a {
    color: var(--color-white);
}


/* ---------- footer random section, putting anything ---------- */
/* right now I am using glowing loader as placeholder  */
.footer-random {
    display: flex;
    margin: auto;
}

.footer-random div {
    margin: 1rem 0 0;
}


.footer-random a {
    position: relative;
    left: 78%;
    top: 0.7rem;
    color: var(--color-dark);
}


/* --- large monitor such as 24 inches --- */
@media (max-width: 1700px) {
    /* footer { */
    /*     grid-template-columns: 12% 76% 12%; */
    /* } */
}

@media (max-width: 1500px) {

    .footer-info p {
        font-size: 0.7rem;
    }

    .footerC {
        flex-direction: column;
    }

    .footer-info {
        justify-content: center;
        align-items: center;
    }

    /* adding little space at the top of the glowing loader */
    .footer-random div {
        padding: 3rem 0 1rem;
    }
}


@media (max-width: 888px) {


    .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-random div {
        padding: 2rem 0 1rem;
    }

    .footer-random a {
        font-size: 0.8rem;
    }
}



</style>
