

---
/* 
Self Introduction Section: 
in this section we need to have body paragraph, so make it a variable. 
not only easier for us to change the content, but as well as adding new title or paragraph to intro section 
*/

export interface Props {
    name: string;
    body: string;
}

// default value for name and introduction
const { 
    title = 'About', 
    body = 'short introduction' } = Astro.props as Props;

// profile pic
import profileImg from '../assets/images/smile.jpg';
import cv from '../assets/file/moanin.pdf';
---


<div class="profile-grid">
    <div class="profile">
        <img src={profileImg} alt="">
    </div>
    <div class="introduction">
        <div class="intro-text">
            <h2>{title}</h2>
            <p>Working on natural language process(NLP)/machine learning(ML) 
            research and projects right now. Details in the collections below.
            I am interested in something that I can question about, the answer is not important though. 
            <a href="https://www.youtube.com/watch?v=lHYcJ8k7FBM">Jazz</a>
            /<a href="https://www.youtube.com/watch?v=Y4HWvsGs0rY">Jazz hip-hop</a> are my favorite genres. 
            <a href="https://en.wikipedia.org/wiki/Christopher_Nolan">
            Christopher Nolan</a>&nbsp;is impressive when he is playing with time 
            in his <a href="https://www.youtube.com/watch?v=2LqzF5WauAw">movies</a>.</p>
        </div>
        <div class="intro-btn">
            <a href={cv} target="_blank">CV</a>
        </div>
    </div>
</div>


<style>

.profile-box {

}

.profile-grid {
    background: var(--color-bg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 0 0;
    /* border: solid; */
    box-shadow: 13px 13px 13px var(--color-black);
    border-radius: 2rem;

}

.profile {
    display: flex;
    justify-content: center;
    padding: 4rem;
    border: solid var(--color-grey);
    margin: 0 1rem 0 0;
    background: var(--color-grey);
}

.profile img {
    width: 9rem;
    border: solid var(--color-bg) 1px;
    border-radius: 50%;
    margin: 1rem;
}

.introduction {
}

.introduction h2 {
    color: var(--color-white);
    margin: 0 0 0.5rem;
    font-size: 2rem;
    font-weight: 100;
}

.introduction p {
    color: var(--color-grey);
    font-family: "Zen Maru Gothic";
    font-size: 1.2rem;
    font-weight: 100;
}

.introduction a {
    color: var(--color-blue);
}

.introduction a:hover {
    color: var(--color-lightGreen);
}

.intro-btn {
    display: flex;
    justify-content: left;
    margin: 1rem 0 0;
}

.intro-btn a {
    border: solid 1px;
    padding: 0.8rem 2.5rem 0.8rem;
}

/* --- laptop with larger monitor (like 27 inches) --- */
@media (max-width: 1700px) {

    .introduction h2 {
        font-size: 1.5rem;
    }

    .introduction p {
        font-size: 1.1rem;
    }

    .intro-btn a {
        padding: 0.5rem 2rem 0.5rem;
    }

    .profile {
        padding: 4rem 3rem 4rem;
    }

    .profile img {
        width: 7rem;
        margin: 0.3rem;
    }

@media (max-width: 1300px) {

    .profile-box {
        padding: 0.7rem;
        /* border: solid; */
        box-shadow: 13px 13px 13px var(--color-black);
        border-radius: 2rem;
    }

    .introduction h2 {
        font-size: 1.4rem;
    }

    .introduction p {
        font-size: 0.9rem;
    }

    .intro-btn a {
        padding: 0.2rem 1.5rem 0.2rem;
    }

    .profile {
        padding: 3.5rem 2.5rem 3.5rem;
    }

    .profile img {
        width: 6.5rem;
        /* margin: 0.2rem; */
    }

    .intro-btn {
        display: flex;
        justify-content: left;
        margin: 0.5rem 0 0;
    }

}



/* --- ipad pro --- */
@media (max-width: 1100px) {

    .profile-box {
    }

    .profile-grid {
        display: flex;
        flex-direction: column;
    }

    .profile {
        display: flex;
        padding: 4rem;
        margin: 0rem 0rem 0rem;
    }

    .profile img {
        width: 8rem;
        margin: 0rem;
    }

    .introduction h2 {
        font-size: 1.5rem;
    }

    .introduction p {
        font-size: 1.1rem;
    }

    .introduction {
        margin: 1rem 0 0;
    }

}


/* --- iphone --- */
@media (max-width: 690px) {

    .introduction h2 {
        font-size: 1.5rem;
    }

    .introduction p {
        font-size: 1rem;
    }

    .intro-btn a {
        border: solid 1px;
        padding: 0.5rem 2rem 0.5rem;
    }

    .profile img {
        width: 6rem;
    }


</style>
