
---
// all social svg icons are imported
import githubIcon from '../assets/images/github4.svg'
import youtubeIcon from '../assets/images/youtube3.svg'
import bilibiliIcon from '../assets/images/bilibili.svg'
import wechatIcon from '../assets/images/wechat.svg'
---


<div class="side-Link">
    <span class="side-icon" >
        <a href="https://github.com/mikiya09"><img src={githubIcon} width=25 alt="" /></a>
    </span>
    <span class="side-icon" >
        <a href="https://www.youtube.com/channel/UChQ5ymtPMpgAHoDttosMMdg"><img src={youtubeIcon} width=25 alt="" /></a>
    </span>
    <span class="side-icon" >
        <a href="https://space.bilibili.com/9863181?spm_id_from=333.1007.0.0"><img src={bilibiliIcon} width=25 alt="" /></a>
    </span>
    <span class="side-icon" >
        <a href="/"><img src={wechatIcon} width=25 alt="" /></a>
    </span>
</div>

<style>

/* 
===================================== position: sticky explanation ============================================

1) because I want the whole header to move across the whole page 
2) the range a div can move is based on the free space left in its parent div 
3) so if set the .header inside .top div to sticky, it will only be able to move through the space .top div left
4) and we don't want .top to take over too much space in the page, therefore not space left for ,header to move
5) the solution is to set the .top div sticky, because it belongs to the main grid, and has a whole page to move

================================================================================================================

6) the reason we set .socials to sticky is because it could have the whole .lhs space to move vertically 
7) if we do this to .lhs div, it will only have little distance to move 
8) starting from the bottom of .lhs div to the bottom of footer

================================================================================================================
*/

.side-Link {
    position: sticky;
    top: 6rem;
    background: var(--color-bg);
    /* border: solid; */
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 28rem 0 0;
    /* justify-content: flex-end; */
}



.side-icon {
    margin: 1rem 0em 1rem;
}



.side-icon img {
    transition: 0.4s;
}

.side-icon img:hover {
    /* transform: translate(0px, -2px) rotate(2deg); */
    transform: translateX(10px);
}


/* --- ipad pro --- */
@media (max-width: 1100px) {
    .side-icon {
        /* width: 25px; */
    }
}

/* --- iphone --- */
@media (max-width: 690px) {
    .side-icon img {
        width: 1rem;
    }
}



</style>
